
@font-face {
    font-family: PipeDream;
    src: url('pipe_dream/pipe_dream_by_triforce89-webfont.eot');
    src: url('pipe_dream/pipe_dream_by_triforce89-webfont.eot?#iefix') format('embedded-opentype'),
         url('pipe_dream/pipe_dream_by_triforce89-webfont.woff2') format('woff2'),
         url('pipe_dream/pipe_dream_by_triforce89-webfont.woff') format('woff'),
         url('pipe_dream/pipe_dream_by_triforce89-webfont.ttf') format('truetype'),
         url('pipe_dream/pipe_dream_by_triforce89-webfont.svg#pipe_dreamregular') format('svg');
}
    
@font-face {
    font-family: LCDPHONE;
    src: url('LCDPHONE/lcdphone.eot');
    src: url('LCDPHONE/lcdphone.eot?#iefix') format('embedded-opentype'),
         url('LCDPHONE/lcdphone.woff2') format('woff2'),
         url('LCDPHONE/lcdphone.woff') format('woff'),
         url('LCDPHONE/lcdphone.ttf') format('truetype'),
         url('LCDPHONE/lcdphone.svg#lcd_phoneregular') format('svg');
}

*{
    user-select: none !important;
}
    
body {
    width: 100%;
    background: #000000;
}

.container {
position: fixed;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
font-family: LCDPHONE, monospace;
color: rgb(255, 128, 0);
font-size: 3vh;
}

/* ***************** MENU **********************/
    
#menus {
    position: fixed;
    transform: translateX(-50%);
    top: 4%;
    left: 50%;
    text-align: center;
    width: 70%;
}
    
h1 {
    font-size: 7vh;
}
    
h2 {
    font-size: 3.3vh;
    border-bottom: 4px dashed rgb(255, 128, 0);
    text-align: center;
}
    
input:hover,
p:hover {
    cursor: pointer;
}
    
#main-menu {
    font-size: 5vh;
    margin-top: 20vh;
}

.options {
        display: none;
        text-align: left;
    }
    
    #controlls {
        margin-top: 7vh;
    }
    
    #sound-options {
        margin-top: 17vh;
    }
    
    #gameplay_menu{
        position: fixed;
        top: 5%;
        display: none;
        width: 100%;
    }
    
    #bck_to_menu {
        margin-left: 5%;
        float:left;
    }
    
    #pause{
        margin-right: 5%;
        float:right;
    }
    
    input[type="checkbox"],
    input[type="radio"] {
        display: none;
    }
    
    label {
        cursor: pointer;
    }
    
    input[type="checkbox"]:checked+label,
    input[type="radio"]:checked+label {
        color: rgb(255, 128, 0);
    }
    
    input[type="checkbox"]+label span,
    input[type="radio"]+label span {
        display: inline-block;
        vertical-align: middle;
        width: 2vh;
        height: 2vh;
        background: none;
        border-radius: 0.5vh;
        border: 0.2vh solid rgb(255, 128, 0);
    }
    
    input[type="radio"]+label span {
        border-radius: 100%;
    }
    
    input[type="checkbox"]+label span::before {
        content: "";
        display: block;
    }
    
    input[type="checkbox"]:checked+label span::before {
        background-color: rgb(255, 128, 0);
        width: 2vh;
        height: 2vh;
        border-radius: 0.3vh;
    }
    
    input[type="radio"]:checked+label span {
        background-color: rgb(255, 128, 0);
        width: 2vh;
        height: 2vh;
        border: 0.2vh solid rgb(255, 128, 0);
    }